$color-white: #FFF;
$color-gray: #9B9B9B;
$color-gray-medium: #4A4A4A;
$color-gray-dark: #303030;
$color-black: #000;

$color-green: #8CB110;

$color-red: red;

$color-blue: #5E92AA;
$color-blue-medium: #9EBDD2;
$color-blue-light: #EEF3F6;
$color-blue-mediumdark: #18667C;
$color-blue-dark: #00586B;
