$default-transition: .5s ease-in-out;
$default-delayed-transition: .4s ease-in-out .4s;
$delayed-transition:  1s ease-in-out .3s;
$very-short-transition: .2s ease-in-out;
$short-transition: .3s ease-in-out;
$short-delayed-transition:  .3s ease-in-out .15s;
